h1 {
  font-size: 70px;
  text-shadow: -1px 1px #faebd7
}
h1, h2, h3 {
  font-family: 'Ruslan Display', cursive;
}

.hud {
  position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

.health {

}

.score {

}

.sub-box {padding: 25px;background-color: black;opacity: 0.6;color: red;font-weight: bold;display: flex;justify-content: space-between;border-radius: 100px;border: 2px solid black;font-size: 20px;flex-direction: column;align-items: center;}

#intro-screen, #outro-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
  /*background-color: #faebd7;*/
  padding: 20px;
  text-align: center
  border-radius: 3px;
  z-index: 1;
  font-family: sans-serif;
  color: #b3b392;
  border: 2px solid darkslategrey;
  background-image: url("../images/blackwebs.jpg");
  background-position: center;
}

#grey-out {
  opacity: 0.5;
}
#score, #health {font-size: 40px;}

#outro-screen {
  display: none;
}

ul {list-style: none;padding: 0;}

li {padding: 5px;}

button {
  background-color: darkred;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 40px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  border: 2px solid black;
}
